{{#each sciences}}
  <li class="sciences-item">
    <img src="{{image}}" alt="{{about}}" class="sciences-image">
    <h3 class="sciences-name">{{name}}</h3>
    <p class="sciences-desc">{{about}}</p>
    <p class="sciences-founder"><b>Засновник: </b>{{founder}}</p>
    <p class="sciences-founding"><b>Засновано: </b>{{founded}}</p>
    <p class="sciences-scientists"><b>Відомі науковці: </b>{{notableScientists}}</p>
  </li>
{{/each}}